*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    /* font-family: 'Trebuchet MS', 'Verdana', sans-serif; */
    font-family: 'Cambria', 'Garamond', Georgia, serif;
}
/* GENERAL UTILITY CLASSES */
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-cont{
    flex-wrap: wrap;
    background-color: rgb(30, 2, 49);
    border: 2px solid indigo;
    width:92vw;
    border-radius: 10px;
    padding: 5px;
    margin: 20px 0;
    flex-basis: 75%;
}
.color-link {
    color:rgb(125, 25, 200);
}
.hidden {
    display: none;
}
/* MAIN PAGE ELEMENTS */
body {
    height: 100%;
    width: 100vw;

    color: rgb(200, 150, 200);
    background-color: black;

    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.5px;
    text-shadow: 2px 2px 2px black;
}

main {
    align-items: center;
    justify-content: center;
    width: 100%;
}
section {
    padding-top: 5em;
    min-height: fit-content;
    width: 100%;
}
footer {
    margin-top:5vh;
    padding: 2vh;
    width: 90%;
}
/* NAVIGATION BAR */
#nav{
    justify-content: right;
    height: 11vh;
    min-height: fit-content;
    width: 100%;
    max-width: 100vw;
    position: fixed;
    left: 0; 
    right: 0;
    top: 0;
    z-index: 9;

    border: 2px solid indigo;
    background-image: url(Pherkad\ LtFA-bg3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
nav a{
    text-decoration: none;
    height: fit-content;  
    margin: 10px;
    padding: 50px 0 5px 5px;
    color:rgb(200, 150, 200);
    font-size: 1.75em;
    text-shadow: 3px 3px 2px rgb(36, 1, 64);
}
#pherkad { /* navbar home link*/
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 3em;
    padding: 0;
    font-family: 'Cambria', 'Garamond', Georgia, serif;
}

/* FLYING PHERKY PHIL LOGO */
#pherkyPhil {
    width: 18vh;
    height: auto;
    position: relative;
    top: 4.3rem;
    right: 7rem;
    z-index: 10
}

/* HEADINGS */
h1 {
    padding: .4em;
    margin: 4vh;
    width: 65vw;
    min-width: fit-content;
    height: fit-content;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(Pherkad\ LtFA-bg3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Cambria', 'Garamond', Georgia, serif;
    font-size: 4em;
    text-shadow: 3px 3px 3px rgb(55, 1, 94);
}
h2 {
    padding: .5em;
    margin: .5em;
    background-image: url(Pherkad\ LtFA-bg3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-width: fit-content;
    max-width: 75vw;
    border-radius: .5em;
    font-size: 1.5em;
    border:2px solid indigo;
}
h3 {
    margin: .3em;
    max-width: 90%;
}
h4{
    font-family: 'Trebuchet MS', 'Verdana', sans-serif;
    margin: 10px;  
}
/*  */
p{
    flex-basis: 45%;
    text-transform: none;
    line-height: 1.5;
    padding: .3em .2em;
    font-size: .9em;
}
img {
    flex-basis: 35%;
    max-width: 40vw;
    max-height: 90vh;
    border-radius: 1em;
    padding: .5em;
}
i {
    font-size: .8em;
}
/* LISTS */
ol{
    line-height: 1.5;
    text-align:center;
    padding: 2vw;
    width: 40vw;
}
li{
    margin-top: 1em;
    margin-left: 2em;
    text-align: center;
}
/* FORM AND INPUTS */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.form-elems {
    flex-basis: 45%;
}
textarea {
    height: 15vh;
}
input, textarea{
    width: 25vw;
    background-color: rgb(30, 2, 50);
    border: 2px solid indigo;
    border-radius: .25em;
    color:rgb(155, 134, 170);
    padding: 1vh;
    font-size: 20px;
}
button {
    padding: .5em;
    margin: 1em;
    flex-basis: 15%;
    width: 25vw;
    border-radius: 1em;
    background-color: indigo;
    border: 2px solid rgb(200, 150, 200);
    color:rgb(200, 150, 200);
    margin-top: 15px;
    width: 20%;
    min-width: fit-content;
    border-radius: 4px;
    cursor: pointer;
}
 button:hover{
    transform: scale(1.1);
 }






#img-flex-cont { /* container for bio images and text */
    width: 90%;
    flex-wrap: wrap;
}

.album-cover-img {
    height: auto;
    width: 45vw;
}

.show-poster {
    max-height: 40vh;
    max-width: 90%;
    padding: 0;
    margin-bottom:30px;
    border: 5px solid indigo;
}
.show-poster:hover {
    transform: scale(1.05);
}
.footer {
    justify-content: space-around;
}


/* POPUP */
.popup-overlay {    /* Dims background for popup */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  z-index: 1000; /* Ensure it's on top */
}
.popup-cont {
  position: absolute;
  top: 45%;
  left: 50%;
  max-width: 90vw;
  min-height: fit-content;
  max-height: 95%;
  transform: translate(-50%, -50%); /* Center the popup */
  background: rgb(30,2,50);
  padding: 10px 20px;
  margin-top: 20px;
  border: 2px solid indigo;
  border-radius: 1em;
  text-align: center;
}
.popup-container h2 {
    margin: 5px;
    padding: 10px;
}
.popup-image {
    max-height: 45%;
    max-width: 45%;
    padding: 0;
    border: 3px solid indigo;
    border-radius: 5px;
}



/* CONSTRUCTION BANNER */
#construction {
    background-color: indigo;
    border-radius: 10px;
    padding: 5px 5vw;;
    margin: 10px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 940px) {
    img, p{
        flex-basis: 90%; 
        max-width: 90%;
    }
    #form {
        flex-direction: column;
        align-items: center;
    }
    input, textarea {
        width: 75vw;
    }
    #pherkad {
        font-size: 2em;
        margin: 5px;
        top: 15px;
        left: 30px;
    }
    #nav {
        top: 0;
        min-height: fit-content;
        justify-content: center;
    }
    nav a {
        font-size: 1.4em;
        margin: 0 10px;
    }
}

@media screen and (max-width: 700px) {
    input, textarea {
        font-size: 1em;
    }
    #pherkad {
        font-size: 1.5em;
        top: 0;
    }
    nav {
        width: 100vw;
    }
    nav a {
        margin: .5em;
        padding: 0;
        font-size: .8em;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1em;
    }
    ol {
        width: 90%;
    }
    .popup-image {
        max-width: 90%;
        max-height: 30vh;
    }
}