*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: cursive;
}
body {
    background-color: black;
    color: grey;
    text-align: center;
    text-transform: uppercase;
    color:rgb(155, 134, 170);
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px black;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 11vh;
    width: 100vw;
    position: fixed;
    border: 2px solid indigo;
    background-image: url(Pherkad\ LtFA-bg3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
nav a{
    text-decoration: none;
    margin: .5vh .5vw;
    padding: 3vh 2vh;
    color:rgb(155, 134, 170);
    font-size: 2.5vw;
    text-shadow: 3px 3px 2px rgb(99, 37, 13);
}
#pherkad {
    position: absolute;
    top: 1.5rem;
    left: 2vw;
    font-size: 5.5vh;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pherkyPhil {
    width: 18vh;
    height: auto;
    position: relative;
    top: 4.3rem;
    right: 7rem;
    z-index: 1;
}
h1 {
    padding: 3vh 5vh;
    margin: 4vh;
    width: 65vw;
    height: fit-content;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(Pherkad\ LtFA-bg3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: Cambria;
    font-size: 10vw;
    text-shadow: 3px 3px 3px rgb(55, 1, 94);
}
h2 {
    padding: 4vh 5vw;
    margin: 14vh 3vh 5vh 3vh;
    background-image: url(Pherkad\ LtFA-bg3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-width: fit-content;
    max-width: 75vw;
    border-radius: 10px;
    font-size: 4vh;
    border:2px solid indigo;
}
header h3 {
    margin:0 0 6vh 0;
    padding: 2vh;
}
em{
    font-weight: bold;  
    font-size: 20px; 
}
h3 {
    margin: 2vh 0;
    padding:3vh;
}
h4{
    margin: 5vh 0 3vh 0;  
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
    min-height: 88vh;
}
#img-flex-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
}
img {
    flex-basis: 35%;
    max-width: 45vw;
    max-height: 90vh;
    border-radius: 8%;
    padding: 2vh;
}
p{
    flex-basis: 45%;
    font-family:sans-serif;
    text-transform: none;
    line-height: 1.5;
    padding: 3vh;
    text-align: center;
}
#last-p {
    flex-basis: 75%;
    background-color: rgb(30, 2, 49);
    border: 2px solid indigo;
    margin-top: 5vh;
    border-radius: 10px;
}
.flex-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(30, 2, 49);
    border: 2px solid indigo;
    width:92vw;
    border-radius: 10px;
}
.track-list{
    margin: 2vw 0;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
i {
    font-size: 10px;
}
ol{
    line-height: 1.5;
    text-align:center;
    padding-left: 2vw;
}
li{
    margin-top:3vh;
    margin-left: 5vh;
    text-align: center;
}
#tour-p{
    margin-top: 3vh;
    line-height: 3;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.form-elems {
    flex-basis: 45%;
}
.hidden {
    display: none;
}
textarea {
    height: 15vh;
}
input, textarea{
    width: 25vw;
    background-color: rgb(30, 2, 49);
    border: 2px solid indigo;
    color:rgb(155, 134, 170);
    padding: 1vh;
    font-size: 20px;
}
button {
    padding: 1vh;
    margin: 6vh;
    flex-basis: 15%;
    width: 25vw;
    border-radius: 10px;
    background-color: rgb(30, 2, 49);
    border: 2px solid indigo;
    color:rgb(155, 134, 170);
}
 button:hover{
    transform: scale(1.25);
 }
 a{
    text-decoration: none;
    color:rgb(155, 134, 170);
 }
footer {
    text-align: center;
    margin-top:5vh;
    padding: 2vh;
    width: 90%;
}
@media screen and (max-width: 900px) {
    img, p{
        flex-basis: 90%; 
        max-width: 90vw;
    }
    #form {
        flex-direction: column;
        align-items: center;
    }
    input, textarea {
        width: 75vw;
    }
    #pherkad {
        font-size: 4vh;
        top: 2rem;
    }
}