*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: cursive;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: grey;
    text-align: center;
    text-transform: uppercase;
    color:rgb(155, 134, 170);
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px black;
    height: 100%;
    width: 100%;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 11vh;
    width: 100vw;
    position: fixed;
    border: 2px solid indigo;
    background-image: url(Pherkad\ LtFA-bg3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
nav a{
    text-decoration: none;
    margin: .5vh .5vw;
    padding: 3vh 2vh;
    color:rgb(155, 134, 170);
    font-size: 2.5vw;
    text-shadow: 3px 3px 2px rgb(99, 37, 13);
}
#pherkad {
    position: absolute;
    top: 2vh;
    left: 2vw;
    font-size: 5.5vh;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pherkyPhil {
    width: 18vh;
    height: auto;
    position: relative;
    top: 4.3rem;
    right: 7rem;
    z-index: 1;
}
h1 {
    padding: 3vh 5vh;
    margin: 4vh;
    width: 65vw;
    height: fit-content;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url(Pherkad\ LtFA-bg3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: Cambria;
    font-size: 10vw;
    text-shadow: 3px 3px 3px rgb(55, 1, 94);
}
h2 {
    padding: 4vh 5vw;
    margin: 14vh 3vh 5vh 3vh;
    background-image: url(Pherkad\ LtFA-bg3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-width: fit-content;
    max-width: 75vw;
    border-radius: 10px;
    font-size: 4vh;
    border:2px solid indigo;
}
/* header h3 {
    margin:0 0 6vh 0;
    padding: 2vh;
} */
em{
    font-weight: bold;  
    font-size: 20px; 
}
h3 {
    margin-top: 10px 0;
    padding-top: 15px;
}
h4{
    margin: 10px 0 5px 0;  
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
    min-height: 88vh;
}
#img-flex-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
}
img {
    flex-basis: 35%;
    max-width: 45vw;
    max-height: 90vh;
    border-radius: 8%;
    padding: 2vh;
}
p{
    flex-basis: 45%;
    font-family:sans-serif;
    text-transform: none;
    line-height: 1.5;
    padding: 10px;
    text-align: center;
}
#last-p {
    flex-basis: 75%;
    background-color: rgb(30, 2, 49);
    border: 2px solid indigo;
    margin-top: 5vh;
    border-radius: 10px;
}
.flex-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(30, 2, 49);
    border: 2px solid indigo;
    min-width: 75vw;
    max-width:92vw;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 10px; 
}
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px; 
}
.scale-down {
    transform: scale(0.75);
    padding: 0;
    margin: 0;
}
.track-list{
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid indigo;
    border-radius: 5px;
}
i {
    font-size: 10px;
}
ol{
    line-height: 1.5;
    text-align:center;
    padding: 20px;
}
li{
    margin: 10px;
    padding: 10px;
    margin-left: 5vh;
    text-align: center;
}
#tour {
    justify-content:flex-start;
}
#tour-p{
    display: flex;
    flex-direction: column;
    /* line-height: 2; */
    font-size: 20px;
    /* height: fit-content; */
}
.show-poster {
    max-height: 40vh;
    padding: 0;
    border: 5px solid indigo;
}
.show-poster:hover {
    transform: scale(2);
    
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.form-elems {
    flex-basis: 45%;
}
.hidden {
    display: none;
}
textarea {
    height: 15vh;
}
input, textarea{
    width: 25vw;
    background-color: rgb(30, 2, 49);
    border: 2px solid indigo;
    color:rgb(155, 134, 170);
    padding: 1vh;
    font-size: 20px;
}
button {
    padding: 1vh;
    margin: 6vh;
    flex-basis: 15%;
    width: 25vw;
    border-radius: 10px;
    background-color: rgb(30, 2, 49);
    border: 2px solid indigo;
    color:rgb(155, 134, 170);
}
 button:hover{
    transform: scale(1.25);
 }
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:5vh;
    padding: 2vh;
    width: 90%;
}
footer a {
    color:rgb(155, 134, 170);
}

.popup-overlay {
  /* display: none; Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Dim background */
  z-index: 1000; /* Ensure it's on top */
}

.construction {
    background-color: indigo;
    border-radius: 10px;
    padding: 5px 5vw;;
    margin: 10px;
}

.popup-container {
  position: absolute;
  top: 45%;
  left: 50%;
  max-width: 90vw;
  max-height: 100vh;
  transform: translate(-50%, -50%); /* Center the popup */
  background: rgb(34, 30, 30);
  padding: 10px 20px;;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.popup-container h2 {
    margin: 5px;
    padding: 10px;
    font-size: larger;
}
.popup-image {
    max-height: 45vh;
    padding: 0;
    border: 3px solid indigo;
    border-radius: 5px;
}

.close-button {
  margin-top: 15px;
  width: 20%;
  background-color: indigo;
  color: rgb(208, 181, 228);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* PayPal Styles*/
.pp-G599JQZ8JX23U{
    text-align:center;
    border:none;
    border-radius:0.25rem;
    min-width:11.625rem;
    padding:0 2rem;
    margin: 10px;
    height:2.625rem;
    font-weight:bold;
    background-color:#FFD140;
    color:#000000;
    font-family:"Helvetica Neue",Arial,sans-serif;
    font-size:1rem;
    line-height:1.25rem;
    cursor:pointer;
}

@media screen and (max-width: 900px) {
    img, p{
        flex-basis: 90%; 
        max-width: 90vw;
    }
    #form {
        flex-direction: column;
        align-items: center;
    }
    input, textarea {
        width: 75vw;
    }
    #pherkad {
        font-size: 36px;
        top: 1.75rem;
        left: 40vw;
        padding: 5px;
    }
    nav {
        align-items: center;
        justify-content: center;
        height: 12vh;
    }
    nav a {
        padding-top: 0;
        margin-top: 1vh;
    }
}

@media screen and (max-width: 700px) {
    #pherkad {
        left: 30vw;
        font-size: 24px;
        padding: 10px;
    }
    nav a {
        font-size: 12px;
    }
}